#cabecera{
    background-color: yellowgreen;
    padding: 1%;
}

h2{
    font-family: 'Courier New', Courier, monospace;
}
#contenedor{
    background-color: deepskyblue;
    display: flex; 
    flex-wrap: wrap; 
    min-height: 400px;
}
#footer{
    background-color: black;
    display: flex;
    flex-wrap: wrap; 
    align-self: flex-end;
}
#piePagina{
    color: white;
}